* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
}

p,
h3,
h4,
h5 {
  font-family: sans-serif;
  line-height: 1.3;
}
button {
  outline: none;
  touch-action: none;
}

/* overlay */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9;
}
.overlay.active {
  background-color: rgb(158 158 158 / 58%);
  visibility: visible;
}

/* sidebar */
.sidebar {
  position: fixed;
  transform: translateX(calc(-100% - 10px));
  z-index: 10;
  -webkit-box-shadow: 0 0 10px grey;
  box-shadow: 0 0 10px grey;
  width: 100%;
  max-width: 65px;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: grey;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
}
.sidebar.active {
  transform: translateX(0);
}
.sidebar * {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar .sidebar-navs > div {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sidebar .sidebar-navs > div.selected {
  color: #000;
}
.sidebar .sidebar-navs > div:hover {
  color: black;
}
.sidebar .sidebar-navs > div.selected::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: black;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.sidebar .setting {
  cursor: pointer;
}
.sidebar .setting:hover {
  color: #000;
}
/* end sidebar */

/* main container section */
.main-container {
  padding: 0 15px;
  width: 100%;
}

/* header section */
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  text-align: center;
  grid-template-columns: auto 1fr auto;
  text-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 15px;
  z-index: 1;
}
header .humburger {
  margin-top: 5px;
}
.search-box {
  cursor: pointer;
  padding: 10px;
}
/* end header section */

/* section */
section {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  max-height: 100%;
}

/* left section */

.filter-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-top: 15px;
}
.list-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 8px;
  border: 1px solid black;
}
.list-categories > p {
  padding: 12px;
  cursor: pointer;
  color: #949494;
  font-weight: 600;
}
.list-categories > p.selected {
  background-color: black;
  color: #fff;
}

.select-option {
  width: 100%;
  outline: black;
  margin-top: 15px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  text-transform: capitalize;
}

/* items container */
.items-container {
  min-height: calc(100% - 153px);
}
.items-container > div {
  margin-top: 45px;
  margin-bottom: 45px;
  display: -ms-grid;
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(auto-fill, 285px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.items-container .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.items-container .items:hover {
  opacity: 1;
}
.items-container .items .item-image {
  width: 100px;
}
.items-container .items img {
  width: 100%;
}

.items-handler button {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
}
.items-handler button:nth-child(odd):hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.view-cart-btn {
  width: 100%;
  height: 46px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
  background: rgb(17, 143, 0);
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  border: none;
}
/* end item-container */

/* left section */

/* right section */
.right-section {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 15px;
  background-color: transparent;
  transform: translateX(calc(100% + 15px));
  transition: 0.3s;
  z-index: 10;
}
.right-section > div {
  height: 100%;
  max-width: 85%;
  margin-left: auto;
  overflow-y: auto;
  background-color: #fff;
}

.right-section.cart-open {
  transform: translateX(0);
}
.cart-container {
  padding: 15px;
}
.cart-container > div:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cart-items {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 15px;
}
.cart-items > div:first-child {
  display: flex;
  justify-content: space-between;
}
.cart-items > .products > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}
.total-order {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 15px;
}

.total-order button {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgb(17, 143, 0);
  color: #fff;
  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 2px grey;
}
/* end main container section */

/* media breakpoints */

/* @media (min-width: 578px) {
  .humburger {
    display: none;
  }
  .sidebar {
    position: static;
    transform: translateX(0);
  }
} */

@media (min-width: 769px) {
  .overlay {
    background-color: transparent;
  }
  .sidebar {
    position: static;
    transform: translateX(0);
  }
  .humburger {
    display: none;
  }
  .main-container {
    height: 100%;
    overflow: hidden;
  }
  header {
    -ms-grid-columns: 2fr auto;
    grid-template-columns: 2fr auto;
  }

  section {
    grid-template-columns: 2fr 1fr;
    height: calc(100% - 116px);
    overflow: hidden;
  }
  .left-section {
    overflow-y: auto;
    padding-right: 5px;
  }
  .items-container {
    min-height: auto;
    max-height: 100%;
  }

  .view-cart-btn {
    display: none;
  }

  .right-section {
    position: static;
    transform: translateX(0);
    margin-top: -15px;
  }
  .right-section > div {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .cart-container {
    max-height: 486px;
    overflow-y: auto;
    padding-right: 21px;
  }

  .total-order {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
@media (min-width: 1220px) {
  section {
    grid-gap: 45px;
  }
}
